:root {
  --color-accent: #1c82e0;
  --color-absolute-white: #fff;
  --color-fg-primary: #171717;
  --color-bg-gray: #f5f5f5;
  --color-bg-grey: #f5f5f5; /* keep convention */
  --color-bg-white: #fdfdfd;
}
