.container {
  background-color: var(--color-bg-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  gap: 1.2rem;
}

.link {
  color: var(--color-fg-primary);
  text-decoration: none;

  width: 513px;
}

.linkBox {
  border-radius: 0 28px 28px 0;

  height: 56px;
  width: auto;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.9px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4.6rem;
  gap: 1.65rem;

  transition: all 0.2s;
}

.linkBox:hover {
  transition: all 0.2s;
  color: var(--color-absolute-white);
  fill: var(--color-absolute-white);
  background-color: var(--color-accent);
}

.linkBoxActive {
  background-color: var(--color-absolute-white);
  box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.2);
}

.linkBoxActive:hover {
  color: var(--color-fg-primary);
  fill: var(--color-fg-primary);
  background-color: var(--color-absolute-white);
  box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.2);
}
