.mainContainer {
  background-color: var(--color-bg-gray);
  height: auto;
  min-height: 100%;
  width: 555px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topContainer {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  gap: 50px;
}
.bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 47px;
}
